.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemons li {
    width: 95%;
    height: 98%;
}

.normal {
    background-color:  #a6a877;
}
.grass {
    background-color:  #77c850;
}
.fire {
    background-color:  #ee7f30;
}
.water {
    background-color:  #678fee;
}
.electric {
    background-color:  #f7cf2e;
}
.ice {
    background-color:  #98d5d7;
}
.ground {
    background-color:  #dfbf69;
}
.flying {
    background-color:  #a98ff0;
}
.poison {
    background-color:  #a040a0;
}
.fighting {
    background-color:  #bf3029;
}
.psychic {
    background-color:  #f65687;
}
.dark {
    background-color:  #725847;
}
.rock {
    background-color:  #b8a137;
}
.bug {
    background-color:  #a8b720;
}
.ghost {
    background-color:  #6e5896;
}
.steel {
    background-color:  #b9b7cf;
}
.dragon {
    background-color:  #6f38f6;
}
.fairy {
    background-color:  #f9aec7;
}

.normal,
.grass,
.fire,
.water,
.electric,
.ice,
.ground,
.flying,
.poison,
.fighting,
.psychic,
.dark,
.rock,
.bug,
.ghost,
.steel,
.dragon,
.fairy {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #FFF;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    
    color: #FFF;
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    font-size: .625rem;
    margin: .25rem 0;
    color: #FFF;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

#cards {
    width:25rem;
    height: 40rem;
    position: absolute;
    z-index: 2;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
    color: #FFF;
    opacity: 0;
    transition: left 0.3s ease, top 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-transform: capitalize;
    pointer-events: none;
}

#cards.show {
    opacity: 1;
}

#cards .card-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 2rem;
    text-align: center;
}

#cards .card-pokemon .card-name {
    width: 80%;
    text-align: left;
    font-weight: 700;
    font-size: 4rem;
}
#cards .card-pokemon .card-number {
    width: 70%;
    text-align: right;
    font-weight: 700;
    font-size: 1.5rem;
}

#cards .card-pokemon .types {
    display: flex;
    width: 80%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

}

#cards .card-pokemon .types .type {
    display: flex;
    height: 1.5rem;
    width: 7rem;
    filter: brightness(1.1);
    align-items: center;
    justify-content: center;
    margin: 0 2px;

}

#cards .card-pokemon img {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 2;
}

#cards .card-pokemon .information {
    bottom: 0;
    z-index: 1;
    position: absolute;
    display:flex;
    color: #000;
    background-color: #FFF;
    border-radius: 30px;
    align-items: center;
    height: 15rem;
    width: 100%;

}

#cards .card-pokemon .information tr td{
    padding: 1rem;
    text-align: left;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}